@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.main {
  min-height: 100vh;
  display: flex;
    flex-direction: column;
  background-image: url("../public/assets/dog.jpg");
  background-size: cover;
  background-position: center;
  /* object-fit: cover; */
  background-repeat: no-repeat;
  /* background-attachment: fixed ; */
}


.mainreg {
  min-height: 100vh;
  display: flex;
    flex-direction: column;
  background-image: url("../public/assets/dog2.jpg");
  background-size: cover;
  background-position: center;
  /* object-fit: cover; */
  background-repeat: no-repeat;
  /* background-attachment: fixed ; */
}





body {
  margin: 0px;
  /* font-family: "Inter", sans-serif; */
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-weight: bold;
  font-size: 20px;
  font-family: "Inter", sans-serif;
}

.navbar li {
  float: right;
}

.navbar a {
  display: block;
  padding-left: 20px;
}
.navbar a:last-child {
  padding-right: 100px;
}

.head-image {
  float: right;
}
.head-image img {
  border-radius: 20px;
  width: 600px;
}

.head-text {
  display: inline-block;
  /* border: 2px solid white; */
  /* margin-left: 100px; */
  margin-top: 50px;
  font-size: 100px;
  font-weight: bold;
  line-height: 100px;
  padding-top: 100px;
}

.tagline {
  /* border: 1px solid white; */
  font-size: 50px;
  /* display: inline-block; */
}

.head-content {
  display: inline-block;
  /* border: 1px solid white; */
  margin-left: 100px;
}

.btns {
  /* border: 1px solid white; */
  padding: 20px;
}

.btn {
  border: 1px solid white;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
}

.adopt-btn {
  margin-left: 70px; /* float: right; */
}

/* /////////////Register Form//////////////// */

.formTitle {
  text-align: center;
  font-size: 80px;
}

.formContainer label {
  font-size: 30px;
  line-height: 60px;
}

.registerForm {
  padding-left: 250px;
}

.registerForm input {
  border-radius: 5px;
}
